.cell {
  width: 25px;
  height: 25px;
  border: 1px solid;
  display: inline-block;
  border-radius: 25px;
  line-height: 25px;
  margin: 5px;
}

.cell-is-alive {
  border-color: green;
  background: green;
}

.cell-is-dead {
  border-color: red;
  background: red;
}

.cell-is-empty {
  border-color: grey;
  opacity: 0.5;
}
